html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.menu {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-size: cover;
}
.menu ul{
    margin: 0;
    list-style: none;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu ul li {
    padding-bottom: 10px;
    transition: 0.4s;
    color: white;
  
}
.menu ul li .icon {
    display: inline;
    color: rgb(0, 60, 255);
    opacity: 0;
    transition: 0.4s;
}
.menu ul li:hover .icon {
    opacity: 1;
}
.menu ul li:hover {
    margin-left: 20px;
}
.menu ul li .text{display: inline;}